os: linux
matrix:
  include:
    - language: python
      python:
        - "3.8"
      script:
        - python3 -m unittest discover -s python -p "p*.py" -v
    - language: java
      install:
         - cd java
         - gradle assemble
      script:
         - gradle check
    - language: c
      compiler:
         - gcc
      before-install:
         - sudo apt-get install cmocka
      script:
         - cd c/ch1
         - gcc -c *.c
         - gcc -o "testmain" ./*.o -lcmocka
         - ./testmain
